@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap");
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.btn,
button,
a {
  all: unset;
  border-radius: 15px;
  padding: 1rem;
  background: #010020;
  transition: background 250ms ease;
}

.btn:hover,
button:hover,
a:hover {
  transition: background,color 250ms ease;
  background: #02015a;
  cursor: pointer;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header {
  padding: 1rem;
}

.card__header h1 {
  margin: 0;
}

.card__content {
  padding: 1rem;
}

.card__content h1 {
  margin: 0;
}

.card__content h2 {
  margin: 0;
}

.card__content p {
  margin: 0;
}

.card__image {
  aspect-ratio: 16/9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__image img {
  width: 50%;
  object-fit: cover;
}

.card__actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

button.btn {
  padding: 1rem;
}

button.btn__edit:hover, button.btn__edit:active {
  transition: background 250ms linear;
  background: #1cadd1;
}

button.btn__delete {
  background: tomato;
}

button.btn__delete:hover {
  background: red;
}

button.btn.add-product {
  background: #1997b6;
  transition: background 250ms ease;
}

button.btn.add-product:hover {
  background: #1cadd1;
}

.product-form__item {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.product-form__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.product-form__control input,
.product-form__control textarea {
  all: unset;
  background-color: #01002c;
  padding: 0.5rem;
  border-radius: 10px;
}

.product {
  perspective: 200px;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  max-height: fit-content;
  background: #01002c;
  color: #fff;
  border-radius: 15px;
  padding: 1rem;
  position: relative;
  transition: box-shadow, translate 125ms linear;
}

.product__item:hover {
  box-shadow: 2px 8px 8px black;
  transition: box-shadow, translate 125ms linear;
  translate: -0.5% -0.5%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
}

.product__price {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.product__description {
  font-weight: 400;
  text-align: center;
  padding: 1rem;
}

main.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

main.product-details .product__item {
  width: 40rem;
  box-shadow: none;
}

main.product-details .product__item:hover {
  translate: 0 0;
  box-shadow: none;
}

.cart__item {
  background: none;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 5rem;
}

.cart__item:hover {
  translate: 0;
}

.cart__item__list {
  padding: 0;
}

.cart__item img {
  width: 25%;
}

.cart__item__list {
  width: 100%;
}

.cart__item__list .product__item {
  width: auto;
}

.cart__item > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 25%;
}

.cart__item .details {
  flex-grow: 4;
  flex-direction: column;
  justify-content: flex-end;
}

.cart__item .form {
  justify-content: center;
}

.login-form {
  width: 20rem;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.login-form__control {
  row-gap: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__control input, .login-form__control button {
  all: unset;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #012947;
}

.login-form .login {
  padding: 1rem 3rem;
  background-color: #012947;
}

.login-form .login:hover {
  background-color: rgba(1, 41, 71, 0.9);
}

.user-message__error {
  color: tomato;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0 2rem;
  min-height: calc(100vh - 2rem);
  font-family: 'Montserrat', sans-serif;
  background-image: radial-gradient(circle at center, rgba(125, 125, 125, 0.1) 0.2rem, transparent 0), linear-gradient(to bottom, #010020, black);
  background-size: 2rem 2rem,cover;
  background-position: -2rem -2rem, 0 0;
  color: #fff;
}

body * {
  box-sizing: border-box;
}

main {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main.add-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main.cart .grid {
  flex-direction: column;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  margin-top: 2rem;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a, .main-header__item button {
  text-decoration: none;
  background: #01002c;
  color: #fff;
  transition: color 250ms linear;
}

.main-header__item a:hover, .main-header__item a:active, .main-header__item a.active, .main-header__item button:hover, .main-header__item button:active, .main-header__item button.active {
  color: #fff;
  background: #012947;
}

.main-header__item a:hover, .main-header__item button:hover {
  transition: color, background 250ms linear;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #010020 1%, #01002c 100%);
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 250ms ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

.mobile-nav__item a:hover, .mobile-nav__item a:active, .mobile-nav__item a.active {
  background-color: #1997b6;
}

.mobile-nav__item.active {
  background: #00695c;
  color: #fff;
  border-radius: 3px;
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.mobile-nav#side-menu-toggle:focus {
  outline: none;
}

.mobile-nav#side-menu-toggle:active {
  color: #00204b;
}

.mobile-nav#side-menu-toggle:hover {
  color: #00204b;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }
  #side-menu-toggle {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */