.login{
	&-form{
		width:20rem;
		max-width: 90%;
		display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      row-gap:1rem;

		&__control{
      row-gap:0.5rem;
      padding:1rem;
			display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input,button {
      all: unset;
      padding: 0.5rem;
      border-radius: 10px;
			background-color: $background-color_2__hovered;
		}}
    .login{
      padding: 1rem 3rem;
      background-color: $background-color_2__hovered;
      &:hover{
        background-color: rgba($background-color_2__hovered,0.9);
      }
    }
	}
}
.user-message{
  &__error{
    color:tomato;
  }
}