.cart{
	&__item{
		background:none;
		flex-direction: row;
		justify-content: flex-start;
		column-gap: 5rem;
		&__list{
			padding:0;
		}
		img{
			width:25%;
		}
		&__list{
			width:100%;
			.product__item{
				width:auto;
			}
		}
		&>div{
			display:flex;
			justify-content: center;
			align-items: center;
			flex-grow: 0;
			width:25%;
		}
		.details{
			flex-grow:4;
			flex-direction: column;
		}
		.details,.form{
			justify-content: flex-end;
		}
	}
}