@import '../styles/product';
@import '../styles/variables';
@import '../styles/product-details';
@import '../styles/cart';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700&display=swap');
body {
    overflow-x: hidden;
    padding: 0;
    margin: 0 2rem;
    min-height: calc(100vh - 2rem);
    font-family: 'Montserrat', sans-serif;
    // background-color: $background-color_1;
    background-image: radial-gradient(circle at center,
      rgba(125,125,125,.1) 0.2rem,
      transparent 0
    ),linear-gradient(to bottom, $background-color_1 ,black );
    background-size: 2rem 2rem,cover;
    background-position: -2rem -2rem, 0 0;
    color: $color_2;
    * {
        box-sizing: border-box;
    }
}

main {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &.add-product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

main.cart {
    .grid {
        flex-direction: column;
    }
}

.main-header {
    width: 100%;
    height: 3.5rem;
    margin-top: 2rem;
    &__nav {
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
    }
    &__item-list {
        list-style: none;
        margin: 0;
        display: flex;
    }
    &__item {
        margin: 0 1rem;
        padding: 0;
        font-weight: thin;
        a {
            text-decoration: none;
            background: $background-color_2;
            color: $color_2;
            transition: color 250ms linear;
            &:hover,
            &:active,
            &.active {
                color: $color_2;
                background: $background-color_2__hovered;
            }
            &:hover {
                transition: color, background 250ms linear;
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: $main-background;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform $transition_timing_1 ease-out;
    &.open {
        transform: translateX(0);
    }
    &__item {
        margin: 1rem;
        padding: 0;
        a {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            &:hover,
            &:active,
            &.active {
                background-color: $color_1;
            }
        }
        &.active {
            background: #00695c;
            color: $color_2;
            border-radius: 3px;
        }
    }
    &__item-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    &#side-menu-toggle {
        border: 1px solid white;
        font: inherit;
        padding: 0.5rem;
        display: block;
        background: transparent;
        color: $color_2;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            color: $color_3;
        }
        &:hover {
            color: $color_3;
        }
    }
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }
    #side-menu-toggle {
        display: none;
    }
}